<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tabela de Maes</title>
</head>
<body>

<h1>Lista de Maes</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>CPF</th>
        <th>Email</th>
        <th>Celular</th>
    </tr>
    </thead>
    <tbody>
    <!-- Itera sobre a lista de 'maes' -->
    <tr th:each="mae : ${maes}">
        <td th:text="${mae.id}"></td>
        <td th:text="${mae.name}"></td>
        <td th:text="${mae.cpf}"></td>
        <td th:text="${mae.email}"></td>
        <td th:text="${mae.celular}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
